

        /* Card Styling */
        .card {
            background: #ffffff;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            overflow: hidden;
        }
        .card-text{
            color: var(--gray-complement);
        }
        .card:hover {
            transform: translateY(-3px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

        .ictv-card-title{
            color: var(--primary-color);
        }

        .btn-primary {
            background-color: var(--btn-gold);
            border: none;
        }

        .btn-primary:hover {
            background-color: var(--btn-hover-gold);
        }
        /* Footer Styling */
        footer {
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
            text-align: center;
            color: white;
        }